*, ::after, ::before {
    box-sizing: border-box;
}


.image-table-selected {
	border: 6px solid yellow !important;
}



.image-table-info-box {
  height: 200px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:lightgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 12px;
  border: solid 1px gray;
}

.image-table-info-box .closebtn {
  position: absolute;
  top: 3px;
  right: 25px;
  font-size: 12px;
  margin-left: 50px;
}

.info-text .info-heading {
	margin:3px;
	padding:2px;
	background-color:white;
}

.image-table-info-box .info-text {
	display:flex;
	flex-direction:column;
	height:100%;
	overflow-y:auto;


}

.info-text::-webkit-scrollbar {
    width: 5px;
}

.info-text::-webkit-scrollbar-thumb {
    background: #E0E0E0;
}



.grid-stack-item-content {
  background: white;
  color: #2c3e50;
  right:5px !important;
  left:5px !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

}


.mlv-chart-label{
	cursor:move;
}

.ui-menu{
	background:#ffffff;
	box-sizing: border-box;
	font-size:14px;

}

.mlv-cm-icon{
	padding-top:3px;
	float:left;
	width:20px;
}

.ui-menu-item .ui-state-active{
	border:1px solid #003eff;
	background:#007fff;
	font-weight:normal;
	color:#ffffff;
}

.ui-menu-item-wrapper {
	box-sizing: border-box;
	border:1px solid #ffffff;
	cursor:pointer;
}


.max-min-slider .ui-slider{
	display:inline-block;
	width:calc(100% - 100px);
	margin-left:10px;
	margin-right:10px;

}

.dc-chart g.row text{
   fill:black !important;	
}


.civ-main-panel{
	height:calc(100% - 30px) !important;
	
}

.civ-filter-panel{
	overflow-y:scroll;
	scrollbar-width:thin;
	overflow-x:hidden;

}

.civ-filter-panel::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.civ-filter-panel::-webkit-scrollbar-track {
  background:white; 
}
 
/* Handle */
.civ-filter-panel::-webkit-scrollbar-thumb {
  background: #E0E0E0
}

/* Handle on hover */
.civ-filter-panel::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




.civ-menu-bar{
	height:30px;
	width:100%;
}

.civ-menu-bar button{
	padding-top:2px;
	padding-bottom:2px;
	margin-left:2px;
	margin-right:2px;
}

.civ-chart-dialog label {
	font-weight:bold;
	margin-bottom: 1px;
	margin-top: 3px;
	display: block;
}

.civ-chart-dialog hr {
	margin-top:0.5rem;
	margin-bottom:0.5rem
}

.add-chart-dialog label{
	font-weight:bold;
	margin-bottom: 1px;
	margin-top:3px;
}

.tagging-dialog label{
	font-weight:bold;
	margin-bottom: 1px;
	margin-top:3px;
}

.civ-chart-dialog input[type=checkbox]{
	
    vertical-align: middle;
	width:18px;
	height:18px;
}

.civ-chart-dialog .ui-spinner{
	width:60px;
	
}

.mlv-reset-btn{
	height:20px;
	padding-left:2px;
	padding-right:2px;
	padding-top:0px;
	padding-bottom:3px;
	margin-left:5px;
}

.civ-chart-dialog button{
	margin-top:3px;
	margin-bottom:3px;
}

.civ-field-dialog label {
	font-weight:bold;
	margin-bottom:1px;
	margin-top:3px;
	display:block;
}

.civ-field-dialog button{
	margin-left:2px;
	padding-top:2px;
	padding-bottom:2px;
}



.civ-field-dialog select{
	margin-right:5px;
}


.max-min-slider input{
	width: 40px;
	height:20px;
	border-radius:6px;
}

.control-bar .fas,.fa{
	font-size:18px;
	margin-left:3px;
	margin-right:3px;
	cursor:pointer;
}

.mlv-chart-option-menu{
	display:none;
	position:absolute;
	right:0px;
	cursor:pointer;
}